In [20]:
import pandas as pd
import numpy as np
file = "Resources/election_data.csv"
df = pd.read_csv(file)
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3521001 entries, 0 to 3521000
Data columns (total 3 columns):
Voter ID     int64
County       object
Candidate    object
dtypes: int64(1), object(2)
memory usage: 80.6+ MB

In [21]:
total_votes = df['Voter ID'].nunique()
total_votes

3521001

In [22]:
candidate = df['Candidate'].value_counts()
candidate

Khan        2218231
Correy       704200
Li           492940
O'Tooley     105630
Name: Candidate, dtype: int64

In [23]:
candidate_list = candidate.tolist()
candidate_list

[2218231, 704200, 492940, 105630]

In [24]:
Khan_average = 2218231/3521001
Khan_avg = "{0:.0%}".format(2218231/3521001)
print (Khan_avg)

63%

In [25]:
Correy_avg = "{0:.0%}".format(704200/3521001)
print (Correy_avg)

20%

In [26]:
Li_avg = "{0:.0%}".format(492940/3521001)
print (Li_avg)

14%

In [27]:
OTooley_avg = "{0:.0%}".format(105630/3521001)
print(OTooley_avg)

3%

In [17]:
election_results = {
                    "Candidates ": ["Khan", "Correy", "Li","O'Tooley"],
                    "% of Vote ": ["63.00%", "20.00%", "14.00%", "3.00%" ],
                    "# of Votes ": [2218231, 704200, 492940, 105630]
}
info_pd = pd.DataFrame(election_results)#, columns=["candidates", "percentage", "votes"])
info_pd

  Candidates  % of Vote   # of Votes
0        Khan     63.00%      2218231
1      Correy     20.00%       704200
2          Li     14.00%       492940
3    O'Tooley      3.00%       105630

In [19]:
print("Election Results")
print("------------------------------------------")
print(info_pd)
print("-------------------------------------------")
print("Winner: Khan")
print("--------------------------------------------")

Election Results
------------------------------------------
  Candidates  % of Vote   # of Votes
0        Khan     63.00%      2218231
1      Correy     20.00%       704200
2          Li     14.00%       492940
3    O'Tooley      3.00%       105630
-------------------------------------------
Winner: Khan
--------------------------------------------

In [39]:
cand_group = df.groupby(['Candidate'])
cand_group.mean()

               Voter ID
Candidate
Correy     1.499706e+07
Khan       1.500207e+07
Li         1.500141e+07
O'Tooley   1.499707e+07

           Voter ID   County
Candidate
Correy       704200   704200
Khan        2218231  2218231
Li           492940   492940
O'Tooley     105630   105630

In [42]:
def square(number):
    return number * number
    squared = square(2)
    print(squared)

In [46]:
df['count'] = df['Candidate'].count()

0          3521001
1          3521001
2          3521001
3          3521001
4          3521001
5          3521001
6          3521001
7          3521001
8          3521001
9          3521001
10         3521001
11         3521001
12         3521001
13         3521001
14         3521001
15         3521001
16         3521001
17         3521001
18         3521001
19         3521001
20         3521001
21         3521001
22         3521001
23         3521001
24         3521001
25         3521001
26         3521001
27         3521001
28         3521001
29         3521001
            ...
3520971    3521001
3520972    3521001
3520973    3521001
3520974    3521001
3520975    3521001
3520976    3521001
3520977    3521001
3520978    3521001
3520979    3521001
3520980    3521001
3520981    3521001
3520982    3521001
3520983    3521001
3520984    3521001
3520985    3521001
3520986    3521001
3520987    3521001
3520988    3521001
3520989    3521001
3520990    3521001
3520991    3521001
3520992    3521001
3520993    3521001
3520994    3521001
3520995    3521001
3520996    3521001
3520997    3521001
3520998    3521001
3520999    3521001
3521000    3521001
Name: count, Length: 3521001, dtype: int64