In [1]:
import pandas as pd
import numpy as np
import datetime as dt
file = "Resources/budget_data.csv"

df = pd.read_csv(file)
df.head()

       Date  Profit/Losses
0  Jan-2010         867884
1  Feb-2010         984655
2  Mar-2010         322013
3  Apr-2010         -69417
4  May-2010         310503

In [4]:
unique_date = df["Date"].unique()

In [5]:
df.count()

Date             86
Profit/Losses    86
dtype: int64

In [6]:
df.dtypes

Date             object
Profit/Losses     int64
dtype: object

In [7]:
df['Date'].unique()

array(['Jan-2010', 'Feb-2010', 'Mar-2010', 'Apr-2010', 'May-2010',
       'Jun-2010', 'Jul-2010', 'Aug-2010', 'Sep-2010', 'Oct-2010',
       'Nov-2010', 'Dec-2010', 'Jan-2011', 'Feb-2011', 'Mar-2011',
       'Apr-2011', 'May-2011', 'Jun-2011', 'Jul-2011', 'Aug-2011',
       'Sep-2011', 'Oct-2011', 'Nov-2011', 'Dec-2011', 'Jan-2012',
       'Feb-2012', 'Mar-2012', 'Apr-2012', 'May-2012', 'Jun-2012',
       'Jul-2012', 'Aug-2012', 'Sep-2012', 'Oct-2012', 'Nov-2012',
       'Dec-2012', 'Jan-2013', 'Feb-2013', 'Mar-2013', 'Apr-2013',
       'May-2013', 'Jun-2013', 'Jul-2013', 'Aug-2013', 'Sep-2013',
       'Oct-2013', 'Nov-2013', 'Dec-2013', 'Jan-2014', 'Feb-2014',
       'Mar-2014', 'Apr-2014', 'May-2014', 'Jun-2014', 'Jul-2014',
       'Aug-2014', 'Sep-2014', 'Oct-2014', 'Nov-2014', 'Dec-2014',
       'Jan-2015', 'Feb-2015', 'Mar-2015', 'Apr-2015', 'May-2015',
       'Jun-2015', 'Jul-2015', 'Aug-2015', 'Sep-2015', 'Oct-2015',
       'Nov-2015', 'Dec-2015', 'Jan-2016', 'Feb-2016', 'Mar-2016',
       'Apr-2016', 'May-2016', 'Jun-2016', 'Jul-2016', 'Aug-2016',
       'Sep-2016', 'Oct-2016', 'Nov-2016', 'Dec-2016', 'Jan-2017',
       'Feb-2017'], dtype=object)

In [8]:
df['Date'] = pd.to_datetime(df['Date'])

In [9]:
total_months = df['Date'].nunique()
total_months

86

In [19]:
total = df['Profit/Losses'].sum()
total

38382578

1170593

In [11]:
df['Change'] = df['Profit/Losses'].diff()#.fillna(df['Profit/Losses'])

In [12]:
df['Change']

0           NaN
1      116771.0
2     -662642.0
3     -391430.0
4      379920.0
5      212354.0
6      510239.0
7     -428211.0
8     -821271.0
9      693918.0
10     416278.0
11    -974163.0
12     860159.0
13   -1115009.0
14    1033048.0
15      95318.0
16    -308093.0
17      99052.0
18    -521393.0
19     605450.0
20     231727.0
21     -65187.0
22    -702716.0
23     177975.0
24   -1065544.0
25    1926159.0
26    -917805.0
27     898730.0
28    -334262.0
29    -246499.0
        ...
56     365942.0
57    -219310.0
58    -368665.0
59     409837.0
60     151210.0
61    -110244.0
62    -341938.0
63   -1212159.0
64     683246.0
65     -70825.0
66     335594.0
67     417334.0
68    -272194.0
69    -236462.0
70     657432.0
71    -211262.0
72    -128237.0
73   -1750387.0
74     925441.0
75     932089.0
76    -311434.0
77     267252.0
78   -1876758.0
79    1733696.0
80     198551.0
81    -665765.0
82     693229.0
83    -734926.0
84      77242.0
85     532869.0
Name: Change, Length: 86, dtype: float64

In [13]:
greatest_increase = df['Change'].max()
greatest_increase

1926159.0

SyntaxError: invalid syntax (<ipython-input-45-04aca2a76c00>, line 5)

In [15]:
greatest_decrease = df['Change'].min()
greatest_decrease

-2196167.0

In [17]:
average_change = df['Change'].mean()
average_change

-2315.1176470588234

In [20]:
#Financial_Analysis_Output 
print('Financial Analysis')
print("--------------------------------")
print(f"Total Months: " + str(total_months))
print(f"Total: " + str(total))
print(f"Average Change: " + str(average_change))
print(f"Greatest Increase in Profits: " + str(greatest_increase))
print(f"Greatest Decrease in Profits: " + str(greatest_decrease))

Financial Analysis
--------------------------------
Total Months: 86
Total: 38382578
Average Change: -2315.1176470588234
Greatest Increase in Profits: 1926159.0
Greatest Decrease in Profits: -2196167.0